<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, necessitatibus non. Dolorem, eius tempore. Obcaecati, sint. Iste aut harum quos ratione perferendis ea soluta quo sit quidem accusantium, commodi ducimus.</p>
        <br>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis deserunt repellendus porro minus, et, assumenda veritatis earum iusto sapiente rem doloribus totam magni tempora cumque mollitia unde libero modi. Temporibus?</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, autem veniam, repellendus sed quaerat eos, dolore quisquam provident eaque earum atque ab! Molestias nemo cumque minus omnis voluptate suscipit excepturi.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>